:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(43, 173, 227);
  color: white;
}

#root {
  min-height: 100vh;
}

// styling to make the footer sit at bottom when scrolling using CSS nesting
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex-grow: 1;
    display: grid;
  }
}
.container {
  max-width: 30rem;
  margin: auto;
  padding: 0 1rem;
}

.layout .header .title a {
  background: url('./images/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  color: transparent;
  padding: 2.5rem;
}

.header,
.footer {
  background-color: rgb(247, 149, 35);
  padding: 1rem;
  text-align: center;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.footer {
  font-size: 9px;
}

a {
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
  }
}

.pets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(247, 149, 35);
  margin: 1rem;
}

h2,
h4 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
}

.status {
  background-color: rgb(43, 173, 227);
  border-radius: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  max-width: 30rem;
  margin: auto;
  padding: 0 1rem;
}

.statusTitle {
  font-style: italic;
  margin: 5px;
}

button {
  background-color: rgb(43, 173, 227);
  border-radius: 0.5rem;
  font-family: 'Press Start 2P', cursive;
  color: white;
}

// button,
.buttonGroup {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
}

.homeButton {
  padding: 1rem;
  margin-left: 12rem;
}

input {
  border-radius: 0.5rem;
  font-family: 'Press Start 2P', cursive;
}

.create,
.delete {
  border: white thick;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
  background-color: rgb(247, 149, 35);
}

// .title h1 {
//   text-align: center;
// }

// ul {
//   list-style: none;
//   padding-left: 0;
// }
