:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(43, 173, 227);
  color: white;
}

.container {
  max-width: 40rem;
  margin: auto;
  padding: 0 1rem;
}

.header,
.footer {
  background-color: rgb(247, 149, 35);
}

// .title h1 {
//   text-align: center;
// }

// ul {
//   list-style: none;
//   padding-left: 0;
// }
